
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Switch ng</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    
    <!---Google font -->
   <link href='https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i' rel='stylesheet' type='text/css'>
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
    
    






    <!-- Plugin CSS -->
    <link href="magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="style.css" rel="stylesheet">
    <link href="font-awesome.css" rel="stylesheet">
    
     <link href="css/mdb.min.css" rel="stylesheet">
    
    

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
               <!-- <a class="navbar-brand page-scroll" href="#page-top"></a>-->
          <a href="#">
          <img src="https://cdn.gomix.com/320a2876-a31d-4804-bad1-e9835f37c646%2Fswitch-3.png" 
          alt="Mountain View" style="height:50px; weight:70px; margin-left:50px; margin-top:15px;"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" style="margin-top:20px; margin-left:40px;">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Track</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Fellowship</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
           <h1 style="font-family:'Raleway', sans-serif; font-size:30px;">TALENT BUILDING, DISCOVERY, ACCELERATION<br> AND PLACEMENT</h1>   
              
              <br><br><br>
                <h1 id="homeHeading" style="color: #FFC636; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;  font-weight: 900;"><b>WE ARE WORLD-CLASS</b></h1>
               <!-- <hr>-->
  <!--  <p>Create software that makes the world a better place.</p>-->
       <img class="hover"  src="https://cdn.gomix.com/320a2876-a31d-4804-bad1-e9835f37c646%2Flogo-switch.png" alt="Smiley face" style="margin-top:40px;">
      
      <!--<a href="#about" class="btn btn-primary btn-xl page-scroll" style="width:150px;">Apply</a>-->
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"><b>We've got what you need!</b></h2>
                    <hr class="light">
      <p class="text-faded">SWITCH! Is a talent building, discovery, acceleration and  placement company. 
      We source the best, driven and smart, young talents within Nigeria and train them to become world class software developers.

Our objective is to support the steady growth of the ecosystem by providing world-class talents for technology companies in Nigeria.  
Ever wonder how disruptive it is to hire a developer and next month (s)he is off to another company, disrupting your team dynamics and flow?  
We wonder no more at Switch! we provide you stead developers that will stay with you for a long time.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><b>Choose your track</b></h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                
                <div class="col-md-4 text-center">
                  <div class="thumbnail">
                    <div class="service-box">
                      <img src="https://cdn.gomix.com/320a2876-a31d-4804-bad1-e9835f37c646%2Fbrowser.png" alt="Smiley face" height="70" width="70">
                        
                        <h3><b>Front-End Developement</b></h3>
                        <p class="text-muted">Master the skills required to become a Front-End Web Developer, 
                        and start building beautiful, responsive websites optimized for mobile and desktop performance.</p>
                    <a href="#" class="btn btn-primary btn-xl page-scroll" style="margin-top:20px;">Apply</a>
                    
                    </div>
                </div>
                </div>
                
                <div class="col-md-4 text-center">
                  <div class="thumbnail">
                    <div class="service-box">
                    <img src="https://cdn.gomix.com/320a2876-a31d-4804-bad1-e9835f37c646%2Fbrowser%20(1).png" alt="Smiley face" height="70" width="70">
                        <h3><b>Back-End Development</b></h3>
                        <p class="text-muted">Master the skills required to become a Front-End Web Developer, and start building beautiful, 
                        responsive websites optimized for mobile and desktop performance.</p>
                    <a href="#" class="btn btn-primary btn-xl page-scroll" style="margin-top:20px;">Apply</a>
                    </div>
                </div>
                </div>
                
                
                <div class="col-md-4 text-center">
                  <div class="thumbnail">
                    <div class="service-box">
                   <img src="https://cdn.gomix.com/320a2876-a31d-4804-bad1-e9835f37c646%2Fsmartphone.png" alt="Smiley face" height="70" width="70">
                        <h3><b>Mobile Development</b></h3>
                        <p class="text-muted">Master the skills required to become a Front-End Web Developer, and start building beautiful, 
                        responsive websites optimized for mobile and desktop performance..</p>
                     <a href="#" class="btn btn-primary btn-xl page-scroll" style="margin-top:20px;">Apply</a>
                    </div>
                </div>
                </div>
                
            </div>
        </div>
    </section>

    

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2 class="section-heading"><b>Fellowship</b></h2>
                
              <div class="col-md-6 text-center">
                 
                    <div class="service-box">
                        
                        <h3>Program Info</h3>
<p class="text-muted">It is a 2-years long fellowship that starts  with a 12-weeks immersive web development course and classes 
    which run from 9am-4pm daily, 5 days a week. 
    The training are anchored by specialized trainers and mentors to train, guide and answer any question of the new developers.</p>
    <br>
            
            
<p class="text-muted">The next 3-months Following the in-class training our graduate developers will be hired by our 
partner companies for 3-months internships while some for immediate full-time employments. 
The new developers can now be recommended by their respective mentors for various positions and 
job placement that bring them to an expert developer state within the  2-years of their fellowships.</p>           
                
              
                    </div>
               
                </div>  
                
                
             <div class="col-md-6 text-center">
                 
                    <div class="service-box">
                        
                        <h3>Calendar</h3>
                        <p class="text-muted">
                          
                      <br>First Cohort<br><br>

              Application : September 28 – October 15, 2016
              <br>Screening: October 20-22, 2016
              <br> Training: November 7 – January 27th , 2016.
              <br><br>Second Cohort
                <br><br>
              Application Opens: December 15th -January 15th
              Screening: January 18th – 20th, 2017 <br>
              Training: February 1st – April 28, 2017    
           
                          .</p>
                          
       
                    </div>
               
                </div>     
              
               
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"><b>Get In Touch!</b></h2>
                    <hr class="primary">
                    <p>Address:<br>

       1st Floor, 294 Herbert Macaulay Way, Sabo, Yaba, Lagos.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                   
            <img src="https://cdn.gomix.com/320a2876-a31d-4804-bad1-e9835f37c646%2Fmobile-phone.png" alt="Smiley face" height="50" width="50"> 
                    <p>+234-8096-880957</p>
                </div>
                <div class="col-lg-4 text-center">
                  <!--  <i class="fa fa-envelope-o fa-3x sr-contact"></i>-->
          <img src="https://cdn.gomix.com/320a2876-a31d-4804-bad1-e9835f37c646%2Fmail.png" alt="Smiley face" height="50" width="50">
                    <p><a href="mailto:your-email@your-domain.com"> info@switch.ng</a></p>
                </div>
            </div>
        </div>
    </section>
    
    
<footer class="footer">
  <p>Switch NG | 2016 </p>
</footer>
    
    
   
    

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/scroll-reveal.js"></script>
    <script src="/magnific-popup.js"></script>

    <!-- Theme JavaScript -->
    <script src="/client.js"></script>
    <script src="/wow.min.js"></script>
    
    <!-- FontAwesome CDN -->
    <script src="https://use.fontawesome.com/fcb170d64e.js"></script>

</body>

</html>
